<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeTest</title>
    <link rel="stylesheet" href="~/dist/styles/main.css" />

</head>

<body>
    <partial name="Partials/_Header" />
    <main role="main">
        @RenderBody()
    </main>

    <footer>

    </footer>

    <script src="~/dist/scripts/main.js"></script>
</body>

</html>