.header {
  background: @color-white;
  border-bottom: 1px solid @color-border;

  .header-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: @max-content-width;
    margin: 0 auto;
    padding: 20px;
  }

  .header-logo {
    flex-grow: 1;
  }
}
