.header {
  background: #fff;
  border-bottom: 1px solid #eee;

  .header-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

  .header-logo {
    flex-grow: 1;
  }
}
