<header class="header">
    <div class="header-wrapper">
        <div class="header-logo">Logo</div>
        <div class="header-cart">
            <i class="icon cart"></i>
        </div>
        <div class="header-menu">
            <i class="icon menu"></i>
            <nav class="header-nav"></nav>
        </div>
    </div>
</header>