.icon {
  width: 20px;
  height: 20px;
  display: block;

  &.cart {
    background: url("../../wwwroot/icons/cart.svg") no-repeat center;
    background-size: contain;
  }
  &.menu {
    background: url("../../wwwroot/icons/menu.svg") no-repeat center;
    background-size: contain;
  }
}
