.product-list-wrapper {
  .product-list {
    border: 2px solid hotpink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .product-item {
    border: 1px solid red;
    padding: 8px;
    background-color: #fff;
  }
}
