@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome to our ecommerce</h1>
    <!-- Todo: Implement product filtering UI -->
    <partial name="Partials/_ProductList" model="Model.Products" />
</div>